@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


*, html, body{
	box-sizing: border-box;	
	margin:0;
}

header{
	position:relative;
	background: #2F80ED;
	height: 80px;
}

header > span{
	position: absolute;
	margin:10px;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 44px;
	color:white;
}

footer{
	background: #2F80ED;
	height: 100px;
	position: relative;
	bottom: -76px;
}

header > form{
	display:flex;
	justify-content: flex-end;
}

header > form > button{
	margin-right: 60px;
	margin-top: 8px;
	padding: 10px 44px;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	line-height: 41px;
	background: #78FFE7;
	border-radius: 12px;
	border:0;
}

header > form > button:hover,
header > form > button:focus{
	background: #59b9a3;
}


section{
	display: flex;
	justify-content: center;
}

section > form{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.label__welcome,
.label__register,
.label__addSite{
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	font-size: 28px;
	line-height: 50px;
	color: #2F80ED;
    margin-top: 80px;
}

.label__register,
.label__addSite{
    margin-top: 35px;
}

.label__login{
	font-family: 'Nunito', sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 33px;
	color: #2F80ED;
	margin-top: 5px;
}


#id_login:hover,
#id_login:focus,
#id_password:hover,
#id_password:focus,
#id_confirm_pass:hover,
#id_confirm_pass:focus,
#id_name:hover,
#id_name:focus{
	border: 2px solid #277be9;
	outline:none;
}

#id_login,
#id_password,
#id_confirm_pass,
#id_name{
	background: rgba(255, 255, 255, 0.35);
	border: 1px solid #2F80ED;
	border-radius: 10px;
	width: 100%;
	height: 53px;
}

.login_buttons > button,
.register_buttons > button,
.addSite_buttons > button{
	background: #2F80ED;
	border: 1px solid #B78233;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 7px;
	font-family: Nunito;
	font-weight: normal;
	font-size: 36px;
	line-height: 80px;
	color: white;
	width: 280px;
}

.login_buttons > button:hover,
.login_buttons > button:focus,
.register_buttons > button:hover,
.register_buttons > button:focus,
.addSite_buttons > button:last-child:hover,
.addSite_buttons > button:last-child:focus{
	border: 1px solid #a7772f;
	background: #2a72cf;
}

.login_buttons{
	margin-top: 70px;
}

.login_buttons > button:first-child,
.addSite_buttons > button:first-child{
	margin-right: 20px;
}

.login_buttons > button:last-child,
.addSite_buttons > button:last-child{
	margin-left: 20px;
}

.register_buttons{
	display: flex;
    justify-content: flex-end;
	margin-top: 41px;
}

.register_buttons > button{
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 7px;
    font-size: 26px;
    line-height: 45px;
	width: 360px;
}

.addSite_buttons{
	margin-top:30px;
}

.addSite_buttons > button{
	line-height: 75px;
}

.addSite_buttons > button:first-child{
	background: #ED512F;
}

.addSite_buttons > button:first-child:hover,
.addSite_buttons > button:first-child:focus{
	background: #d64c2d;
	border: 1px solid #a7772f;

}