{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Django_pm</title>
  <link rel="stylesheet" href="{% static 'css/mainapp.css' %}" type="text/css">
  </link>
</head>

<body>
  <header>
    {%if auth%}
    <span> Ваш аккаунт: {{login}} </span>
    <form method="POST" action="exit">
      {% csrf_token %}
      <button name='exit'>
        Выход
      </button>
    </form>
  </header>
  <section>
    <form method="POST" action="add_info">
      {% csrf_token %}
      <span class="label__addSite"> Добавление информации о сайте </span>
      <!-- {{ form.name.label }} -->
      <span class="label__login">Название сайта</span>
      {{ form.name }}
      <span class="label__login">Логин для авторизации</span>
      <!-- {{ form.login.label }} -->
      {{ form.login }}
      <span class="label__login">Пароль</span>
      <!-- {{ form.password.label }} -->
      {{ form.password }}
      <div class="addSite_buttons">
        <button type='submit' name="cancel"> Отмена </button>
        <button type='submit' name="login_button"> Добавить </button>
      </div>
    </form>
    {%else%}
    Нет авторизации
    {%endif%}
  </section>
  <footer></footer>
</body>

</html>