{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Django_pm</title>
        <link rel="stylesheet" href="{% static 'css/mainapp.css' %}" type="text/css"></link>
    </head>
    <body>
        {%if auth%}
            <span> Ваш аккаунт: {{login}} </span>
            <form method="POST" action="../../exit">
                {% csrf_token %}
                <button name='exit'>
                  Выход
                </button>
              </form>
            <form method="POST" action='../../edit/{{id}}/'>
                {% csrf_token %}
                <span> Редактирование сайта: {{ form.site.value }}</span>
                {{ form.site.label }}
                {{ form.site }}
                {{ form.login.label }}
                {{ form.login }}
                {{ form.password.label }}
                {{ form.password }}
                <button type='submit' name="cancel"> Отмена </button>
                <button type='submit' name="edit"> Редактировать </button>
            </form>
        {%else%}
            Нет авторизации
        {%endif%}
    </body>
</html>
