<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Django_pm</title>
  </head>
  <body>
    <form method="POST" action="authority">
      {% csrf_token %}
      {{ form }}
      <button type='submit' name="login_button"> Войти </button>
      <button type='submit' name="register_button"> Регистрация </button>
    </form>

    <!-- пока так, потом спросить про 2 кнопки на одной форме -->
    <form method="POST" action="register">
      {% csrf_token %}
      <button> Регистрация </button>
    </form> 
  </body>
</html>
 