<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Django_pm</title>
  </head>
  <body>
    {%if auth%}
      <h1> {{login}} </h1>
      
      
      <table>
        {% for site in all_sites%}
        <tr>
          <form method="POST" action="action_row/{{site.id}}/">
            {% csrf_token %}
            <td name='id' style = "display:none">{{site.id}}</td> <!-- добавил, но не отображаем(надо для удаления/редактирования) -->
            <td> {{site.name}} </td>
            <td> {{site.login}} </td>
            <td> {{site.password}} </td>
            <td> <button name='edit' > Edit </button></td>
            <td> <button name='delete' > Delete </button></td>
          </form>
          <td> <button id='view'> View </button></td>
        </tr>
        {% endfor %}
      </table>
      
      <form method="POST" action="add_site_redirect">
        {% csrf_token %}
        <button name='add_site'>Добавить сайт</button>
      </form>

      <form method="POST" action="exit">
        {% csrf_token %}
        <button name='exit'>
          Выход
        </button>
      </form>
    {%else%}
      Нет авторизации
    {%endif%}
  </body>
</html> 