<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Django_pm</title>
  </head>
  <body>
    <h1> Тест текст </h1>
    <form method="POST" action="action_main">
      {% csrf_token %}
      {% for site in all_sites%}
      <table>
        <tr>
          <td> {{site.key_login}} </td>
          <td> {{site.name}} </td>
          <td> {{site.login}} </td>
          {%if view == True %}
          <td> {{site.password}} </td>
          {%else%}
          <td> ******** </td>
          {%endif%}
          <!-- пока хз как реализовать это <td> <button id='view'> Скрыть/Отобразить </button></td> -->
          <td> <button id='edit'> Отредактировать запись </button></td>
          <td> <button id='delete'> Удалить запись </button></td>
        </tr>
       </table>
      {% endfor %}
      <button id='add_site'>Добавить сайт</button>
    </form>
  </body>
</html>
