{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Django_pm</title>
    <link rel="stylesheet" href="{% static 'css/mainapp.css' %}" type="text/css"></link>
  </head>
  <body>
      <form method="POST" action="login">
        {% csrf_token %}
        <button type='submit'> Авторизация </button>
      </form>
      <form method="POST" action="add_register">
        {% csrf_token %}
          <span> Зарегистрируйтесь для начала работы </span>
          {{ form.login.label }}
          {{ form.login }}
          {{ form.password.label }}
          {{ form.password }}
          {{ form.confirm_pass.label }}
          {{ form.confirm_pass }}
        <button type='submit' name="login_button"> Зарегистрироваться</button>
      </form>
  </body>
</html>
 